<div class="container">
  <div class="serie">
    <span>série</span>
    <h1 class="serie__title">{{ seriesCount }}</h1>
  </div>

  <div class="timer" *ngIf="resting">
    <span>{{ timer$ | async }}</span>
  </div>

  <div class="form" class="" *ngIf="!resting">
    <button (click)="startRest()" class="rest-button">DESCANSAR</button>
  </div>

  <div class="actions">
    <button
      (click)="resetSeries()"
      class="action-button"
      title="reiniciar série"
      *ngIf="!resting"
    >
      <img src="assets/icons/stop-fill.svg" alt="" srcset="" />
    </button>

    <div class="duration" *ngIf="!resting" (click)="edit()">
      <form [formGroup]="form">
        <input
          type="number"
          formControlName="duration"
          class="duration__input"
          #inputDuration
        />
      </form>

      <button
        (click)="resetSeries()"
        class="action-button"
        title="editar duração"
      >
        <img
          src="assets/icons/timer-flash-fill.svg"
          alt=""
          srcset=""
        />
      </button>
    </div>

    <button
      (click)="resetSeries()"
      class="action-button"
      title="pausar descanso"
      *ngIf="resting"
    >
      <img src="assets/icons/pause-fill.svg" alt="" srcset="" />
    </button>

    <button
      (click)="resetSeries()"
      class="action-button"
      title="reiniciar descanso"
      *ngIf="resting"
    >
      <img src="assets/icons/play-fill.svg" alt="" srcset="" />
    </button>
  </div>
</div>
